/* Start Contact Us*/

.contactus {
	width: 100%;
	height: auto;
	margin-top: 0px;
}

.contact-form {
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	height: 645px;
	float: left;
	background-color: $primarycolor;
	form {
		padding: 20px;
	}
	.lable-title {
		color: #fff;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.title-contact {
		width: 100%;
		height: 25px;
		margin: 0 auto;
		background-color: $primarycolor;
	}
	h2 {
		font-size: 21px;
		padding-top: 26px;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		color: $text-white;
	}
	input[type="text"],
	select,
	textarea {
		height: 40px;
	}
	.alignbtn {
		text-align: center;
		margin-top: 25px;
	}
}

.contact-address {
	width: 49%;
	display: inline-block;
	margin: 0 auto;
	height: 645px;
	float: left;
}

.address-detail {
	width: 100%;
	margin: 0 auto;
	float: left;
	height: 350px;
	display: inline-block;
	h2 {
		font-size: 18px;
		width: 100%;
		margin: 0 auto;
		display: block;
		padding: 20px;
		text-align: left;
		color: $text-grey;
		font-weight: 600;
	}
	.headline {
		width: 100%;
		float: left;
		margin: 0 auto;
	}
}

input[type='submit'] {
	padding: 12px 35px;
	border: none;
	border-radius: 4px;
}

input[type="submit"]:hover {
	background-color: #3490dc;
	color: $text-white;
	padding: 12px 35px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	border: solid 0px $text-white;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
	border-top: 0px solid #ddd;
	font-size: 16px;
}

@media (max-width: 680px) {
	.contactus {
		margin-top: 10px;
	}
	.contact-form {
		margin: 0 auto;
		height: 563px;
		float: left;
	}
	.contact-address {
		height: 460px;
	}
	.address-detail {
		h2 {
			font-size: 18px;
			width: 100%;
			margin: 0 auto;
			display: block;
			padding: 24px;
			text-align: left;
			color: $text-grey;
			font-weight: 600;
		}
	}
}

@media (min-width: 680px) and (max-width: 1280px) {
	.contactus {
		width: 100%;
		height: auto;
		margin-top: 40px;
	}
	.contact-form {
		margin: 0 auto;
		height: 645px;
		float: left;
	}
	.address-detail {}
	input[type="submit"]:hover {
		background-color: $primarycolor;
		border: solid 1px $text-white;
	}
	input[type="submit"] {
		margin-top: 20px;
	}
}


/* End Contact Us*/