#userlogin{
   margin-top: 10px;
}
.loginform {
   padding-top: 0px !important;
   border-radius:0px;
   .modal-content{
      border-radius:0px !important;
   }
   .input_with_button{
      width: 70%;
      float: left;
   }
   .input_button{
      float: right;
      button{
         padding: 5px 15px;
         margin-top: 20px;
         width: 96px;
      }
   }
	form{
		padding: 0px 20px ;
		position: relative;
	}
   
   .closebutton{
      position: absolute;
      width: 40px;
      right: 20px;
   }

   .btn{
   	background-color: white;
   	border:2px solid skyblue;
   	border-radius:0px;
   	margin-top: 44px;
   	padding:11px;
      color: skyblue;
      &:hover{
         background-color: skyblue;
         color: white;
      }
   }
   	
 
   input[type='text'],input[type='password'],input[type='email'],.input-group-text{
   	border:none;
   	border-bottom:2px solid #d4cdcd;
   	border-radius:0px;
   	margin-top: 20px;
      &:focus{
         outline: 0px;
         box-shadow: none;
      }
   }

   .input-group-text{
   	background-color: white;
   }
   .message{
   	margin-top: 20px;
   	a{
   		&:hover{
   			color: skyblue;
   			text-decoration: none;
   		}
   	}
   }
}