/*
Variables To Be Used In The Edu Travel Project
Variables Abbreviations: : ;
b=banner
bh=banner header |bp=banner para |ch=content header|cp=content para|cardh=card header|cardp=card para|buttont=button text|buttonbg=button background
|customerf=customer feedback||fh=footer header|fp=footer para|m=mobile|d=desktop|vpannel=video panel
*/

//admin bg-color
$btn-indigo: #3490dc;
$admin-sidebar: #5a5380;
$admin-top: #e1e1e1e1;
$admin-login-form: #d2c9c9;
$admin-body:#f4f6f9;

//card 
$bg-red : #ca0c0c;
$bg-green : #2fa33a;
$bg-yellow : #c6cc0d;

// Typography
$font-family-raleway: "Raleway";
$font-size-base: 0.9rem;
$line-height-base: 1.4;

