.btn_plus{
	border-radius:50% !important;
	padding: 8px 12px !important;
	background-color: $admin-bg !important;
}
.pointer{ cursor: pointer; }
iframe{ width: 100%;}
.top_black_btn{
	padding: 10px 30px;
    background: black;
    border: none;
    border-radius: 4px;
	color: white;
	cursor: pointer;
	&:hover{
		background-color: #3a3a3a;
	}
}

.delete_icon {
  float: right;
  padding-top: 20px;
  cursor: pointer;
}
.delete_icon:hover {
  color: red;
}
.close{
	&:focus{
		outline: none;
	}
}


.card-layout{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-bottom: 10px;
}

.margin-top-11{ margin-top: 11px;}
.mt-35{	margin-top:35px;}
.mb-30{	margin-bottom: 30px;}
.mb-20{	margin-bottom: 20px;}
.mb-10{	margin-bottom: 10px;}
.toggle_nv{ display: block;}
// Margin top 25
.m-60{	margin-top:60px;}

.back_btn{	margin-right:20px;}

// .btn{background-color:$admin-bg;border-radius:0px;
// 	&:hover{border-radius: 4px;}
// }

.card{	padding: 10px;}

.text-danger{font-size: 11px !important;}

.font-18{ font-size: 18px !important; }
.font-14{ font-size: 14px !important; }
.font-12{ font-size: 12px !important; }

.p-0{padding: 0px;}
.pl-10{ padding-left: 10px;}
.m-0{margin:0px;}
.text-right{text-align: right;}

.text-black{color: black !important;}


.w-80{ width: 80px;}
.w-60{ width: 60px;}
.width-70{ width: 70px;}
.width-192{ width: 192px;}
.width-260{ width: 260px;}
.display-hidden{ display: none;}
.whitesomke{ background-color: whitesmoke;}
.bg-darkgrey{ background-color: #6c757d;}
.cursor-pointer{ cursor: pointer;}


// ----------------------------------------

.images_row img {
  margin-bottom: 10px;
}
// Content background color
.content{ background-color: $admin-body; }
//  input type date icon csss

.pdf_show{
	.fa-file-pdf{
		color: red;
		font-size: 60px;
	}

}

.radius-0{ border-radius: 0px;}

.top_btn{
	display: block;
	margin-top:10px;
	a{
		padding: 10px 30px;
	    background: $admin-bg;
	    border: none;
	    color: white;
	    &:hover{
	    	color: white;
	    	text-decoration: none;
	    }
	}
}

.admin-bg-color{ color: $admin-bg;}
.pagination{
	.page-link{
		padding: 5px 10px;
		background: #cecece;
		color: $black;
		border: none;
		margin-right: 2px;
		outline: none;
		cursor: pointer;

	}
	.page-item.active{
		.page-link{
			background-color: $admin-bg;
			color: white
		}
	}
}
.list-section{
	th{
		outline: 0px;
		box-shadow: none;
		background-color: $admin-bg !important;
		color: white !important;
	}
	.b-table{
		border:0px !important;
		tbody{
			tr{
				padding: 20px;
				font-size: 15px;
				background-color: white;
				border: none;
				td{
					padding: 0.75rem;
					vertical-align: top;
					border-top: 0px solid #dee2e6;
				}
				&:hover{					
					box-shadow:0 3px 4px 0 rgba(0, 0, 0, -0.8), 0 8px 25px 0 rgba(0, 0, 0, 0.19);
					color: $blue;
				}
			}
		}
	}
}

table {
    border-collapse: separate;
	border-spacing: 0 8px;
}

table#table-transition .flip-list-move {
  transition: transform 1s;
}



#example_wrapper{
	.row{
		width: 100% !important;
	}
}
.simple-form-bg{
	background-color: #f5f5f5 !important;
	border-radius: 0px !important;
}
.simple-form{
	input{
		height: 35px;
		font-weight: normal;
		border: 0px;
		background-color: white;
		border-radius: 0px;
		font-size: 15px;
	}
	button{
		font-weight: 500;
		border-radius: 0px;
		padding: 3px !important;
		margin-top: 0px !important;
		min-width: 100%;
		border: 3px solid $admin-bg;
		&:hover{
			background-color: $admin-bg;
			border-radius: 0px;
			color: white;
		}
	}
	.action_item{
		img{ width: 15px;}
	}
}

// image card with delte icon like in gallery

.img-card-delete-icon{
	.position-absolute{
		top: 7px;
    	right: 28px;
	}
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #adadad !important;
  opacity: 1; /* Firefox */
}




:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #adadad !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #adadad !important;
}