.btn_plus{
	border-radius:50% !important;
	padding: 8px 12px !important;
	background-color: $admin-bg !important;
}
.pointer{
	cursor: pointer;
}
.top_black_btn{
	padding: 10px 30px;
    background: black;
    border: none;
    border-radius: 4px;
	color: white;
	cursor: pointer;
	&:hover{
		background-color: #3a3a3a;
	}
}

.card-layout{
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
	margin-bottom: 10px;
}

.mt-35{
	margin-top:35px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-10{	margin-bottom: 10px;}
.toggle_nv{ display: block;}
// Margin top 25
.m-60{
	margin-top:60px;
}

.back_btn{
	margin-right:20px;
}

.btn{background-color:$admin-bg;border-radius:0px;
	&:hover{border-radius: 4px;}
}

.card{
	padding: 10px;
}

.text-danger{
	font-size: 11px !important;
}

.font-18{
	font-size: 18px !important;
}

.p-0{
	padding: 0px;
}
.pl-10{ padding-left: 10px;}
.m-0{
	margin:0px;
}
.text-right{
	text-align: right;
}

.text-black{
	color: black !important;
}


.w-80{ width: 80px;}

.display-hidden{ display: none;}
.whitesomke{ background-color: whitesmoke;}
.cursor-pointer{ cursor: pointer;}


// Input box css
input[type='text'],input[type='email'],
input[type='date'],textarea,input[type='number'],
input[type='time'],input[type='datetime-local'],.ui.selection.dropdown,input[type='datetime-local'],.select-field{
	border: 0px;
	background-color: $admin-top;
	font-size: 17px;
	color: #737879;
	display: block;
	width: 100%;
}
input[type='text'],input[type='email'],
input[type='date'],input[type='number'],
input[type='time'],.select-field,.ui.selection.dropdown,input[type='datetime-local']{
	height: 53px;
	margin-bottom: 5px;
	font-weight: 600;
}
// dropdown for the city
.ui.search.dropdown>.text {
	top: 7px;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	top: 15px !important;
}

.ui.search.selection.dropdown>input.search, .ui.search.selection.dropdown>span.sizer{
	padding: 20px 15px !important;
}


label{color: #7f7f7f;font-size: 15px;font-weight: 600 !important;}
form{padding-top: 20px;}

// Content background color
.content{
	background-color: $admin-body;
}
//  input type date icon csss
.input-group-text{
	height: 53px;
	background-color: $admin-top;
	border:none;
	font-size: 20px;
}

.pdf_show{
	.fa-file-pdf{
		color: red;
		font-size: 60px;
	}

}

.radius-0{ border-radius: 0px;}

.top_btn{
	display: block;
	margin-top:10px;
	a{
		padding: 10px 30px;
	    background: $admin-bg;
	    border: none;
	    color: white;
	    &:hover{
	    	color: white;
	    	text-decoration: none;
	    }
	}
}

.admin-bg-color{ color: $admin-bg;}
.pagination{
	.page-link{
		padding: 5px 10px;
		background: #cecece;
		color: $black;
		border: none;
		margin-right: 2px;
		outline: none;
		cursor: pointer;

	}
	.page-item.active{
		.page-link{
			background-color: $admin-bg;
			color: white
		}
	}
}
.list-section{
	.sticky-header{
		max-height: 400px;	
	}
	th{
		outline: 0px;
		box-shadow: none;
		background-color: $admin-bg !important;
		color: white !important;
	}
	.b-table{
		tbody{
			tr{
				padding: 20px;
				font-size: 15px;
				background-color: white;
				border: none;
				td{
					padding: 0.75rem;
					vertical-align: top;
					border-top: 1px solid #dee2e6;
					border-radius: 5px 0px 0px 5px;				
				}
				&:hover{					
					box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
					height: 50px;
					color: orange;
				}
			}
		}
	}
}


table#table-transition .flip-list-move {
  transition: transform 1s;
}



#example_wrapper{
	.row{
		width: 100% !important;
	}
}
.simple-form-bg{
	background-color: #f5f5f5 !important;
	border-radius: 0px !important;
}
.simple-form{
	input{
		height: 35px;
		font-weight: normal;
		border: 0px;
		background-color: white;
		border-radius: 0px;
		font-size: 15px;
	}
	button{
		font-weight: 500;
		border-radius: 0px;
		padding: 3px !important;
		margin-top: 0px !important;
		min-width: 100%;
		border: 3px solid $admin-bg;
		&:hover{
			background-color: $admin-bg;
			border-radius: 0px;
			color: white;
		}
	}
	.action_item{
		img{ width: 15px;}
	}
}

// image card with delte icon like in gallery

.img-card-delete-icon{
	.position-absolute{
		top: 7px;
    	right: 28px;
	}
}