.btn_plus{
	border-radius:50% !important;
	padding: 8px 12px !important;
	background-color: $admin-bg !important;
}

.mt-35{
	margin-top:35px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-20{
	margin-bottom: 20px;
}

// Margin top 25
.m-60{
	margin-top:60px;
}

.back_btn{
	margin-right:20px;
}

.btn{background-color:$admin-bg;border-radius:0px;
	&:hover{border-radius: 4px;}
}

.card{
	padding: 10px;
}

.text-danger{
	font-size: 11px !important;
}

.font-18{
	font-size: 18px !important;
}

.p-0{
	padding: 0px;
}
.m-0{
	margin:0px;
}
.text-right{
	text-align: right;
}

.text-black{
	color: black !important;
}


// Input box css
input[type='text'],input[type='email'],
input[type='date'],textarea,input[type='number'],
input[type='time'],input[type='datetime-local'],select,.ui.selection.dropdown,input[type='datetime-local']{
	border: 0px !important;
	background-color: $admin-top !important;
	font-size: 17px !important;
	color: #737879 !important;
	display: block;
	width: 100%;
}
input[type='text'],input[type='email'],
input[type='date'],input[type='number'],
input[type='time'],select,.ui.selection.dropdown,input[type='datetime-local']{
	height: 53px !important;
	margin-bottom: 5px !important;
	font-weight: 600 !important;
}
// dropdown for the city
.ui.search.dropdown>.text {
	top: 7px;
}

.ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
	top: 15px !important;
}

.ui.search.selection.dropdown>input.search, .ui.search.selection.dropdown>span.sizer{
	padding: 20px 15px !important;
}


label{color: #7f7f7f;font-size: 15px;font-weight: 600 !important;}
form{padding-top: 20px;}

// Content background color
.content{
	background-color: $admin-body;
}
//  input type date icon csss
.input-group-text{
	height: 53px;
	background-color: $admin-top;
	border:none;
	font-size: 20px;
}

.pdf_show{
	.fa-file-pdf{
		color: red;
		font-size: 60px;
	}

}



.top_btn{
	display: block;
	margin-top:10px;
	a{
		padding: 10px 30px;
	    background: black;
	    border: none;
	    border-radius: 4px;
	    float: right;
	    color: white;
	    &:hover{
	    	color: white;
	    	text-decoration: none;
	    }
	}
}