// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminlte.css";
@import '~bootstrap/dist/css/bootstrap.css';
@import '~bootstrap-vue/dist/bootstrap-vue.css';
@import "~vue-multiselect/dist/vue-multiselect.min.css";
@import "~vue-search-select/dist/VueSearchSelect.css";
// Variables
@import 'variables';
@import 'admin';
@import 'common';
@import 'calculator';
@import 'extra';
@import 'dropdown';
@import 'form';

.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.fade-enter-active, .fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}