//  Add Group member page 
.AddGroup{
    input{
        box-shadow: none!important;
        border: none;
        
    }
    .active_tab{ color: #7d7d7d; border: 1px solid; }

    .add_group_table{
        thead{
            background-color: #e7e7e7;
            color: grey;
        } 
        font-size: 14px !important;  
    }
    .filter-search{
        input{
            border-radius: 20px 0px 0px 20px;
        }
        .form-control{
            background-color: $input-box-grey !important;
            &:focus{
                border-color: none;
                box-shadow: none;
            }
        }
        button{ 
            border-radius: 0px 20px 20px 0px;
            background-color: $input-box-grey !important;
        }
    }
   
    .file-upload{
        .file-input-group {
            input[type="text"]{
                background: #e5e5e5 !important;
                height: 38px;
                border-color: none;
                box-shadow: none;
                border-radius: 20px 0px 0px 20px;
            }
            input[type="file"] {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            .input-group-append{
                label{
                    border-radius: 20px;
                    margin-left: -14px;
                }
            }
        }
    }
    // group member list
    .group_list{
        margin: 0 auto;
        .hidden{
            input{
                border: 0px !important;
                background: transparent !important;
                box-shadow: none!important;
            }
        }
        tr{ border-bottom: 1px solid #e7e7e7;}
        .action_item{
            .edit,.delete{
                width: 16px;
                cursor: pointer;
            }
        }
    }
    .print{
        .fa-print{
            font-size: 30px;
            cursor: pointer;
        }
    }
    
}

//  Group member list

