.accept_cookies{
  .cookies {
    // position: absolute; //Use this if you want it below everything at the bottom of the page
    position:fixed; //Use this if you want it floating at the bottom of the browser window
    bottom: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    padding: 10px 0;
    color: #fff;
    font-size: 13px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: $background-color;
    color: $text-color;
  }
  .cookies .container {
    position: relative;
  }

  .cookies a {
    color: #fff;
    text-decoration:underline;
    border:none;
  }
  .cookies a.close-cookie-warning {
    position: absolute;
    left: 15px;
    top: 0;
    display: block;
    background-color: rgb(0,74,151);
    color: #fff;
    padding: 8px 3px 16px;
    cursor: pointer;
    font-size: 3rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border:none;
    text-decoration: none;
  }
  .cookies a.close-cookie-warning:hover {
    background-color: #fff;
    color:rgb(47,153,205);
    border-bottom:none;
  }

  .cookie__accept, 
  .cookie__decline,
  .cookie__link {
    padding: 0.2rem 0.8rem;
    border: 0;
    background: white;
    margin: 0 0.5rem;
    transition: background 150ms ease;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 5px;
    &:focus{
      outline: none;   
    }
    @media(max-width: 64rem) {
      margin: 0.5rem 1rem 0.5rem 0;
    }
  }


  // .cookie__accept {
  //   background: $highlight-color;
  //   color: $text-color;
  //   &:hover, &:focus {
  //     background: lighten($highlight-color, 8%);
  //   }
  //   &:active {
  //     background: lighten($highlight-color, 12%);
  //   }
  // }


  /* .cookie__decline {
    background: darken($background-color, 8%);
    color: $text-color;
    &:hover, &:focus {
      background: darken($background-color, 5%);
    }
    &:active {
      background: darken($background-color, 8%);
    }
  } */
  .cookie__decline,.cookie__accept{
    background: darken($background-color, 8%);
    color: $text-color;
    font-weight: 500;
    &:hover, &:focus {
      background: lighten($highlight-color, 8%);
    }
    &:active {
      background: lighten($highlight-color, 12%);
    }
  }
}