//  Add Group member page 
.AddGroup{
    input{
        border: 2px solid #d7dcdc;
        border-radius: 4px;
    }
    .add_group_table{
        thead{
            background-color: #e7e7e7;
            color: grey;
        }   
    }
    .search-box{
        float: right;
        .has-search .form-control {
            padding-left: 2.375rem;
        }
    
        .has-search .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
    .custom-file-uploader {
        position: relative;
        padding: 7px;
        color: white;
        border-radius: 0px 34px 34px 0px;
        background:grey;
        input[type='file'] {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: default;
        }
    }

    // group member list
    .group_list{
        margin: 0 auto;
        .hidden{
            input{
                border: 0px !important;
                background: transparent !important;
                width: 168px;
            }
        }
        tr{ border-bottom: 1px solid #e7e7e7;}
        .action_item{
            .edit,.delete{
                width: 19px;
                cursor: pointer;
            }
        }
    }
    .print{
        .fa-print{
            font-size: 30px;
            cursor: pointer;
        }
    }
    
}

//  Group member list

