
.text_on_image{
    .content-blog-banner{
        position: absolute;
        top: 25%;
        left: 6%;
        color: white;
        width: 88%;
        background: transparent;
        padding: 0px 25px;
    }
}

#BlogDetail{
    .blog-title{
        width: 90%;
        margin: 0 auto;
    }
}
.search-sec{
    padding: 2rem;
}

.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
}
.search-blog-form{
    padding: 15px 13px 9px;
    background: rgba(43, 188, 255, 0.8);
    select,input{
        height: 47px;
    }
    .or-text{
        font-size: 18px;
    }
    
}

.select-cat{
    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance:none;
        appearance:none;
    }
    select.input-lg {
        height: 50px !important;
        line-height:25px !important;
    }
    select + i.fas {
        float: right;
        margin-top: -34px;
        margin-right: 9px;
        pointer-events: none;
        background-color: #FFF;
        color: black;
        padding-right: 5px;
        font-size: 20px;
    }
}


.blog-list{
    .card{
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
        &:hover{
            box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        }
        .card-title{
            font-size: 1em;
        }
    }
}

.card-tag{
    background: #80808047;
    padding: 0px 5px 2px;
    border-radius: 10px;
    font-weight: 500;
    font-size: 12px;
}

.blog-detail{
    .author-blog{
        .avatar-author{ float: left;}
        .font-14{
            font-size: 14px;
        }
    }
}

.card_slick{
    .slick-prev, .slick-next{
        color: black !important;
    }
}


@media (max-width: 992px){
    .search-blog-form{
        select{
            margin: 5px 0px;
        }
    }
    .description{
        h1{
            font-size: 1.3rem;
        }
        
        h2{
            font-size: 1.1rem;
        }
        
        h3{
            font-size: 1.0rem;
        }


    }
    .search-blog-form{
        select{
            border-left: 0px !important;
        }
    }
    .text_on_image .content-blog-banner{
        top:2%;
        padding:0px;
    }
    .search-blog-form {
        padding: 15px 9px;
    }
    .blog-heading{ font-size: 30px;}
    .select-cat select + i.fas{ margin-top: -40px;}
    .content-blog-banner{
        .search-blog-form{
            .or-section{
                height: 21px;
            }
        }
        .profile_button{
            margin: 10px;
        }
    }
}