.link{ cursor: pointer; }
.mt-5{ margin-top: 5px; }
.mt-10{	margin-top:10px; }
.mt-15{	margin-top:15px; }
.mt-20{	margin-top:20px; }
.mt-35{	margin-top:35px; }
.mt-85{ margin-top:85px; }

.mb-5{ margin-bottom: 5px; }
.mb-10{	margin-bottom:10px; }
.mb-15{	margin-bottom:15px; }
.mb-20{	margin-bottom:20px; }
.mb-35{	margin-bottom:35px; }

.ml-10{ margin-left: 10px; }
.ml-20{ margin-left: 20px; }


.mr-5{ margin-right: 5px; }
.mr-10{ margin-right: 10px; }
.mr-20{ margin-right: 20px;}
.m-60{ margin-top:60px; }

.pt-5{ padding-left: 5px;}
.fw-500{ font-weight: 500;}

.p-0{ padding: 0px;}
.pl-3{ padding-left: 3px;}
.ml-1{ margin-left: 1px;}

.p-20{ padding: 20px; }
.p-t-15{ padding-top: 15px; }
.pt-20{ padding-top: 20px; }
.pb-50{ padding-bottom: 50px;}
.pb-30{ padding-bottom: 30px;}
.pb-15{ padding-bottom: 15px;}
.pl-10{ padding-left: 10px;}

.h-45{ height: 45px !important; }
.h-400{ height: 400px !important; }
.h-40{ height: 40px !important; }
.h-16{ height: 16px !important;}

.w-100{ width: 100% !important; }
.w-75{ width: 75px !important; }
.w-70{ width: 70px !important; }
.w-45{ width: 45px; }
.w-40{ width: 40px; }
.w-20{ width: 20px; }
.w-60{ width: 60px; }
.w-50{ width: 50px;}
.icon-width{ width: 15px !important; height: 15px !important;}
.footer-icon-width{ width: 18px;}
.bg-blue{ background-color: #1c1650;}
.bg-skyblue{ background-color: rgba(43,188,255,.8);}

.display-none { display: none;}
.position-absoulte { position: absolute;}

.zoom1{ -webkit-transform: scale(1.40); transform: scale(1.40);}
.zoom2{ -webkit-transform: scale(1.75); transform: scale(1.75);}
.zoom3{ -webkit-transform: scale(1.95);transform: scale(1.95);}

.font-13{ font-size: 13px;}
.font-14{ font-size: 14px;}
.font-20{ font-size: 20px;}
.min-height-90{ min-height: 90px;}
.text-gray{ color: #464444;}

.border-radius-0{ border-radius: 0px;}
.border-1-grey { border: 1px solid #ccc !important;}
.btn-square{
	padding: 7px 35px;
    border-radius: 0px;
    background: transparent;
    font-weight: 500;
}

.avatar-author{
	width: 40px;
}
.banner-image-parent{ 
	position: relative;
	text-align: center;
	  color: white;
	  height: 480px;
	  img{ height: 480px;}
	  .container{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

@media (max-width: 767px){
	.banner-image-parent{ 
		height: 280px;
		img{ height: 280px;}
		.container{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.underline{ text-decoration: underline; }
.text-upper{  text-transform: uppercase; }

.img-circle { border-radius: 50%;}

.bg-transparent-card{ background: #3c383891 !important}


#itinerary_detail_list{	min-height: 140px; }
.input-border{ border:1px solid lightgrey !important; height: 45px; }
.banner_img{ background-size: cover; }


.text_on_image{
	position: relative;
	.content{
		position: absolute;
		top: 40%;
		left: 6%;
		color: white;
		width: 88%;
		background: transparent;
		.heading{
			font-size: 30px;
			margin-bottom: 0px;
		}
	}
}


.ui.selection.dropdown{
	min-width: 100% !important;
}
img{
	width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: black;
	&:hover{
	  text-decoration:none;
	  color: black;
	}
}

.card_image_ency{ height: 154px; }

.loadingspinner {
	pointer-events: none;
	width: 2.5em;
	height: 2.5em;
	border: 0.4em solid transparent;
	border-color: #eee;
	border-top-color: #3E67EC;
	border-radius: 50%;
	animation: loadingspin 1s linear infinite;
	margin-left: 50%;
	margin-top: 5px;
}
.loading-img-parent{
	position: relative;
}
.loading-img {
	width: 120px;
	margin-top: 5px;
    width: 120px;
}



@keyframes loadingspin {
	100% {
			transform: rotate(360deg)
	}
}


.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}


.modal-color{
	background-color: #fbfbfb;
	border-radius: 0px;
    border: 0px;
}


.profile_button{
	background: $primary;
	color: white;
    border: none;
    padding: 11px 70px;
	font-weight: 600;
	font-size: 14px;
	border-radius: 0px;
    margin: 25px 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
        &:hover{
			background-color: #959595 !important;
			color: white;
        }
}

.multiselect__tag{
	background-color: #6d6b6bc7;
}
.multiselect__tags{
	background: #e1e1e1;
}
.multiselect__tag-icon:after{
	color: #676767;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover{
	background: #6f6f6f;
}
.multiselect__option--highlight{
	background:grey;
}

.circle-btn{ 
	border-radius: 42px;
	padding: 7px 11px 8px;
	background: #e9e9e9;
}
.circle-btn:hover{
	background: #e9e9e9;
    border: #e9e9e9;;
    color: skyblue;
}
.f-12{ font-size: 12px;}
.circle{
	border-radius: 20px;
}

