.user_dashboard_profile{
	padding: 35px;
	background-color: #130e4a;
	color: white;
	.user_edit,.logout{
		float: right;
		font-size: 20px;
		color: white;
	}
	.logout{
		text-decoration: none;
	    border: 1px solid;
	    padding: 0px 10px;
	    border-radius: 16px;
	    font-size: 15px;
	}
	.image{
		padding: 0px;
		
	}
	.country{
		padding: 0px;
	}
	img{
		border:2px solid white !important;
		width: 140px;
		margin: auto;
	}
	.username{
		display: block;
	}
	.userinfoFirst{
		width: 50%;
		float: left;
	}
	.userinfoSecond{
		width: 50%;
		float: right;
	}
	.bottom_text{
		font-size: 16px;
		font-weight: 400;
	}
	

}


   // Register image css
	.avatar-upload {
	    position: relative;
	    max-width: 205px;
	    margin-left: 30%;
	    .uploadIcon,.avatar-edit {
	        position: absolute;
	        right: 24px;
		    z-index: 1;
		    top: 90px;
	        input {
	            display: none;
	            + label {
	                display: inline-block;
	                width: 34px;
	                height: 34px;
	                margin-bottom: 0;
	                border-radius: 100%;
	                background: #FFFFFF;
	                border: 1px solid transparent;
	                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	                cursor: pointer;
	                font-weight: normal;
	                transition: all .2s ease-in-out;
	                &:hover {
	                    background: #f1f1f1;
	                    border-color: #d6d6d6;
	                    content: 'Choose Image'
	                }
	                &:after {
	                    content: "\f040";
	                    font-family: 'FontAwesome';
	                    color: #757575;
	                    position: absolute;
	                    top: 10px;
	                    left: 0;
	                    right: 0;
	                    text-align: center;
	                    margin: auto;
	                }
	            }
	        }
	    }
	    .uploadIcon{
	  	    padding: 3px 8px 6px;
		    top: 90px;
		    right: 50px;
		    color: grey;
	        width: 34px;
	        height: 34px;
	        margin-bottom: 0;
	        border-radius: 100%;
	        background: #FFFFFF;
	        border: 1px solid transparent;
	        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
	        transition: all .2s ease-in-out;
	    }
	    .avatar-preview {
	        width: 150px;
	        height: 150px;
	        position: relative;
	        border-radius: 100%;
	        border: 6px solid #F8F8F8;
	        margin:auto;
	        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
	        > div {
	            width: 100%;
	            height: 100%;
	            border-radius: 100%;
	            background-size: cover;
	            background-repeat: no-repeat;
	            background-position: center;
	        }
	        .img{
	        	width: 138px;
			    height: 139px;
			    border-radius: 100%;
			    padding: 0px;
	        }
	    }
	}
	// End user image codes

.view_link{
	&:hover{
		color: red;
	}
}

.dashboard-body-part-one{
	padding: 10px 0px;
	#rowbody{

		.col{
			a{
				text-decoration: none;
			}
			.rowdata1,.rowdata2{
			    border-radius: 6px;
			    color: white;
			    padding: 29px;
			    text-align: center;
			    &:hover{
			    	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

			    }
			    img{
                	width: 38px;
                }
			}
			.rowdata1{
                background-image: linear-gradient(90deg, #ffce6d, #fe885e);

			}
			.rowdata2{
				background-image: linear-gradient(90deg, #328e94,#8ee294);
			}
			.icon_text{
				margin-top: 16px;
			    font-size: 17px;
			    display: inline;
			    margin-left: 5px;
			}
	    }
	}
}


.dashboard-body-part-two-2{

	.card_scroll{
		padding: 0px 5px;
	}
}

.advertismentpart{
	margin:0px;
	img{
		width: 100%;
		height: 200px;
	}
	border-radius:4px;
    overflow: hidden;
}


.booksection{
	#data{
		text-align: center;
		margin-top: 15px;
		padding: 20px 2px 7px;
		background-color: #ebebeb;
		border-radius:4px;
		a{
			color: grey;
			text-decoration: none;
		}
		img{
			width: 55px;
			height: auto;
			&:hover{
				width: 57px;
				height: 59px;
			}
		}
	}
}

.resent_search{
	margin: 15px 0px 40px;
	border-radius:6px;
	padding: 5px;
	.card-img-overlay{
		top: 50%;
		background-color: #6d6d6d69;
	}
}

.resent_search,.popular_destination{
	.heading{
		font-size: 15px;
		font-weight: 500;
	}
}

#dashboard_body{
	.title_section{
		padding: 0px 0px 19px;
		a{
			float: right;
			color: grey;
			text-decoration: underline;
			font-size: 14px;
			&:hover{
				color: $primary;
			}
		}
	}
}
.popular_destination{
	margin: 0px 0px 15px;
	padding: 20px 30px;
	background-color: #ebebeb;

	.row{
		padding:14px;
	}
	padding: 12px;
	.content{
		background-color: white;
   	    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, -0.81);

		p{
			margin:0px;	
		}
		.heading{
			margin-top: 10px;
		}
		padding: 8px;
	    img{
	    	width: 100%;
	    }
	}
}


.user_dashboard_profile,.dashboard-body-part-one,.dashboard-body-part-two-2,.advertismentpart,.booksection,.resent_search{
	margin-bottom: 20px;
}
.popular_destination{
	margin-bottom: 50px;
}


@media screen and (max-width: 350px){
	.resent_search{
		.card-img-overlay{
			top: 36px;
		}
    }
    .logout_section{
    	display: block;
    }
}


@media screen and (max-width: 767px) {
	.user_dashboard_profile,.dashboard-body-part-one,.dashboard-body-part-two-2,.advertismentpart,.booksection,.resent_search{
	    margin-bottom: 10px;
    }
    .logout_section{
    	display: block;
    }
    .view_link{
    	margin-top: 5px;
    }
    .advertismentpart{
    	img{height: 100px;}
    }
	.user_dashboard_profile{
		padding: 30px 0px;
		.container{
			padding: 0px;
		}
		.username{
			text-align: center;
		}
	}
	#userinfoFirst{
		text-align: right;
		padding-right: 20px;
	}
	#userinfoSecond{
		text-align: left;
		padding-left: 20px;
	}
	.dashboard-body-part-one{
		margin:0px;
		#rowbody{
			.col{
				padding: 0px 3px 0px;
				.rowdata1,.rowdata2{
				padding: 20px 3px;
				margin-right: 5px;
		
				}
				.icon_text{
				    font-size: 14px;
				    margin-left: 2px;
				}
			}
			
		}
    }
    .popular_destination{
    	margin-bottom: 20px;
    	padding: 2px;
    	background-color: #ebebeb;
    	.content{
    		margin-top: 20px;
    		background-color: white;
    		border:1px solid #ebebeb;
    	}
    }
    .booksection{
    	padding: 0px 5%;
    }
    #dashboard_body{
	   .title_section{
		    padding: 0px 14px;
		}
	}
    .resent_search{
		.card-img-overlay{
			top: 80px;
		}
		p{
			
		}
    }
    .dashboard-body-part-two{
     	.slick-slide{
		 width: 100% !important;
	   }
    }
}




@media screen and (min-width: 768px) and (max-width: 900px){
	.resent_search{
		.card-img-overlay{
			top: 20px;
		}
		p{
			font-size: 12px;
		}
    }
    .logout_section{
    	display: block;
    }
}


@media screen and (max-width: 900px){
	.logout_section{
		display: hide;
	}
	.user_dashboard_profile{
		text-align: center;
	}
}



