.mt-30{
  margin-top: 30px;
}
.bg-banner{
  background-color: #1c1650;
  padding: 50px;
}
// state view page css
.state_body{
  padding-left:20px !important;
  padding-right:20px !important;
  .comment_btn{
    padding: 6px 22px !important;
    font-size: 17px;
    font-weight: 400 !important;
    border-radius: 0px;
  }
  .state_description{
    h4{
      font-size: 20px;
      font-weight: 400;
    }
    ul{
      padding-left: 17px;
      li{
        list-style-type: disc !important;

      }
    }
  }
  .card_scroll{
    padding: 0px 5px;
  }
  .state_images{

    .row{
      padding: 7px 13px !important;
      .col-6{
        padding: 5px 5px !important;
        img{
          width: 100%;
        }
      }
    }
  }
  .state_list{
    a{
      cursor: pointer;
      color: white;
      text-decoration: none;
      &:hover{
        color: white;
        text-decoration: none;
      }
    }
  }
  .img-avatar {
      width: 52px;
      height: 52px !important;
  }
  .text-small{
    font-size: 12px;
  }
}

.encyclopedia{
  .ui.selection.dropdown{
    min-height: 47px;
    font-weight: 600;
  }
  .ui.search.dropdown>input.search,.ui.search.dropdown>.text{
    font-weight: 600;
  }
  .ui.selection.dropdown>.delete.icon, .ui.selection.dropdown>.dropdown.icon, .ui.selection.dropdown>.search.icon{
    top: 15px;
  }
}


.states_card{
  margin-top: 13px;
  margin-bottom: 15px;
	.card-img-overlay {
	  margin-top: 17%;
	}
  .card{
    border-radius:13px;
  }
	font-size: 26px;
	font-weight: 800;
	img{
	  width: 100%;
	  height: 170px;
	  border-radius: 13px;
  }
}

.encylopedia-pdf{
  width: 15px !important;
  margin-left: 6px;
}


.state_card{
  padding: 7px;
  border: 3px solid lightgrey !important;
  iframe{
  	min-height: 300px;
    width: 100%;
  }
  a{
    color: black;
    &:hover{
      color: grey;
      text-decoration: none;
    }
  }
}

.encyclopedia_search{
  
      background-repeat: no-repeat;
      background-size: cover;
      padding: 11% 0%;
      .ui.selection.dropdown{
        min-height: 41px;

      }
      .search_filter{
        padding: 0px 20px;
      }
      .encyclopedia-content{
        padding-left: 30px;
        color: white;
        font-weight: 400;
      }
}

.replybtn{
    padding: 2px 14px !important;
    font-size: 13px !important;
    border-radius: 0px !important;
    font-weight: 400 !important;
}

