.serachExplor{
	.top-imgs{
		display: none;
	}
	.p-te-0{
		padding: 0px;
		padding-left: 7px;
		padding-right: 10px;
	}
	.card-width {
	  width: 520px !important;
	}
}

.trip-icon{
	width: 22px;
	margin-right: 5px;
}

.btn-reset{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 25px;
    border: solid 2px;
    padding: 3px 22px;
    margin-top: -6px;
}
.btn-reset:hover{
	color: #fff;
    background-color: #c12a38;
    border-color: #c12a38;
}
#joinOurteam{
	  button:hover{

	    background-color: #eee;
	  }
	  input[type="submit"]:hover{

	      background-color: #3490dc;
	      color: white;
	      padding: 12px 35px;
	      border: none;
	      border-radius: 4px;
	      cursor: pointer;
	      border: solid 0px white;


	  }
}

#homecomponent{
	.slidehome{
		width:100%;
		margin: 4px auto;
		background:#ffffff;
	}
}

#explorelist{

	.main-head{
	  text-decoration: underline;
	}
	.description{
	      font-size: 17px;
	    font-family: raleway;
	}

}

#exploreDestination{
	.nopadding{
	  padding:0px 5px 10px;
	}
	.disable{
	  pointer-events: none; 
	}
	option{
	  border-top:1px solid #fafafa;
	  padding:.78571429rem 1.14285714rem!important;
	  white-space:normal;
	  word-wrap:normal;
	}

	@media only screen and (max-width: 680px) {
	.explore_banner{
	    height: 820px;
	    background-size: cover !important;
	  }
	.content{ top: 11% !important; }

	}
}



.itinerary_detail_list{
	 .main-head{
	    text-decoration: underline;
	  }
	  .description{
	    width: 100%;
	  }
}

#footer{
	.fab{
	  margin-right: 13px;
	}
}

#myHeader{
	.show{
	  display: block !important;
	}
	.hide{
	  display: none !important;
	}

	ul > li:hover {
	  cursor:pointer;
	}

	.nav_active{
	  border-bottom: 2px solid grey;
	}
}


.errorpage{
	img{
		width: 100%;
	}
}


.loading_spin{
	  height: 0;
	  width: 0;
	  padding: 15px;
	  border: 6px solid #ccc;
	  border-right-color: #888;
	  border-radius: 22px;
	  -webkit-animation: rotate 1s infinite linear;
	  /* left, top and position just for the demo! */
	  position: absolute;
	  left: 50%;
	  top: 50%;
	}

	@-webkit-keyframes rotate {
	  /* 100% keyframe for  clockwise. 
	     use 0% instead for anticlockwise */
	  100% {
	    -webkit-transform: rotate(360deg);
	 }
}


@media (min-width: 992px) {
	#itinerayrFormModal{
		.modal-lg {
			max-width: 80% !important;
		}
	}
}
.m-view{
	display: none;
}
.l-view{
	display: block;
}
@media (max-width: 767px) {
	.m-view{
		display: block;
	}
	.l-view{
		display: none;
	}
}

#tourPage {
	/*.text_on_image{
		.content {
			color: black !important;
		}
	}*/
	.gbi_main-heading {
		color: #000;
		font-size: 30px;
		font-weight: 600;
		text-align: center;
		text-decoration: underline;
	}
	.gbi_paragraph{
		color: #737373;
    	font-size: 20px;
	}
	.gbi_sub-heading{
		color: #333333;
		font-size: 23px;
		text-align: center;
    	font-weight: 600;
	}
}