#imagegallery{
    .gallery-search{
        .outer{
            padding:5px;
            padding: 9px;
            background: #0d11329e;
            .search-field{
                height: 50px;
                outline: none;
            }
        }
    }
    .fullimagecard{
        margin-bottom: 28px;
        .card{
            max-height: 370px;
        }
        .card-img-overlay {
            background-color: rgba(#000, 0.4);
            padding:0px !important;
        }
        .card-image{
            height: 370px;
            width: 100%;
        }
    }

}
.imageslist{
    .shera-img{
        background-image: url('/icons/Mascot_Chita.png');
        width: 50px;
        height: 61px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin:0px 0px 20px 17px;
    }
    .blog-list{
        .cardimage{
            height: 330px !important;
            text-align: center;
            object-fit: cover;
        }
    }
    // .shera-img-size{
    //     width: 50px;
    //     height: 61px;
    // }
}
