#userlogin{
   margin-top: 10px;
   .user_input_field{
      text-align: center;
      margin-top: 20px;
      margin-bottom: 0px;
      label{
         color: grey;
      }
      .student{
         float: left;
      }
      .other{
         float: right;
      }
   }
   .nav-item{
      a{
         color: grey !important;
      }
      .active{
         color: $primary !important;
      }
   }
   a{
      color: $primary;
   }
   .otp_verify{
      font-size: 30px;
      margin-top: 25px;
      position: absolute;
      right: 30px;
      color: green;
   }
}
.loginform {
   padding-top: 0px !important;
   border-radius:0px;
   .modal-content{
      border-radius:0px !important;
   }
   .input_with_button{
      width: 70%;
      float: left;
   }
   .input_verify{
      width: 50%;
   }
   .timer{
      margin-top: 32px;
      padding-right: 16px;
      color: grey;
   }
   
   .input_button{
      float: right;
      button{
         padding: 5px 15px;
         margin-top: 20px;
         width: 96px;
      }
   }
	form{
		padding: 0px 20px ;
		position: relative;
	}
   
   .closebutton{
      position: absolute;
      width: 40px;
      right: 20px;
   }

   .btn{
   	background-color: white;
   	border:2px solid $primary;
   	border-radius:0px;
   	margin-top: 44px;
   	padding:11px;
      color: $primary;
      &:hover{
         background-color: $primary;
         color: white;
      }
   }
   	
 
   input[type='text'],input[type='password'],input[type='email'],.input-group-text{
   	border:none;
   	border-bottom:2px solid #d4cdcd;
   	border-radius:0px;
   	margin-top: 20px;
      &:focus{
         outline: 0px;
         box-shadow: none;
      }
   }

   .input-group-text{
   	background-color: white;
   }
   .message{
   	margin-top: 20px;
   	a{
   		&:hover{
   			color: skyblue;
   			text-decoration: none;
   		}
   	}
   }
}