#tour_payment{
    input{
        border-radius: 4px;
    }
    .grey-border{
        border:1px solid lightgray !important;
    }
}

#payment_mode{
    .card-header{
        padding: 12px;
    }
    .accordion-head i{
        font-size: 1.5em;
        float: right;
        color: #656565;
    }
    
    .accordion-head > .collapsed > i:before{
        content: "\f105";
    }
    input{
        border: 1px solid lightgrey;
    }

    h5{
        font-size: 15px;
        color: #656565;
        font-weight: 500;
    }
    .card-image-payment{
        padding: 15px 20px;
        .custom-control{
            border:2px solid lightgrey;
            padding: 10px 33px;
        }
        img{
            height: 65px;
        }
    }
}