/* Start resources*/
.edutravel-heading
{ h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    margin-bottom: 15px;
	margin-top: 25px;
	width: 100%;
	font-family: Raleway;
	text-align: center;
}
}
.safe-seu-img
{
	width: 100%;
	padding-top: 4PX;
	padding-bottom: 25px;
}
.edutravel-content
{
	padding: 20px;

	h2
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
		font-weight: 600;
		padding: 10px;
		font-family: $fontfamily;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;

		padding: 10px;
		font-family: $fontfamily;
	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $dedutravelh-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		width: 100%;
		display: block;
		margin-left: 169px;
		font-family: $fontfamily;
		margin:auto;
	}

	.edu-blockcontent
	{
		width: 33.33%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
			img
			{
				margin-top: 20px;
				margin-bottom: 10px;
				display: inline-block;
				width: 120px;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
				font-weight: 700;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.border-topcontent 
{
	border-top: 1px solid #ddd;
}
.border-leftcontent 
{
	border-left: 1px solid #ddd;
}

.safety-security
{
	width:100%;
	margin-top: 60px;
	margin-bottom: 70px;
	h1 {
	 	color:$text-black;
	 	font-size:$dourstoryh-font-size;
	 	margin-bottom: 15px;
	 	font-family: $fontfamily;
	}
	h2{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 15px;
		font-family: $fontfamily;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
	}
}
.safety-paraimg
{
	width:49%;
	margin-top: 0px;
	margin-bottom: 0px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 15px;
		margin-top: 90px;
		font-family: $fontfamily;
		padding: 10px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
	}
	img 
	{
		padding: 45px;
	}
}
/* End resources*/

/* RESPONSIVE STYLE */

@media (max-width: 360px) {

.edutravel-heading
{ 
	padding-left: 0px;
    padding-right: 0px;

h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    padding: 20px;
	width: 100%;
}
}
.edutravel-content
{
	padding: 20px;
	
	h2
	{
		color: $text-black;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
		font-weight: 600;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;
	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $medutravelh2-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 40px;
		font-family: $fontfamily;
		margin:auto;
	}

	.edu-blockcontent
	{
		width: 100%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
		border-top: 1px solid #ddd;
			img
			{
				margin-top: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.border-topcontent 
{
	border-top: 0px solid #ddd;
}
.border-leftcontent 
{
	border-left: 0px solid #ddd;
}
/*safety-security*/
.safety-security
{
	width:100%;
	margin-top: 40px;
	margin-bottom: 30px;
	h1 {
	 	color:$text-black;
	 	font-size:$mourstoryh-font-size;
	 	margin-bottom: 5px;
	 	font-family: $fontfamily;
	 	padding: 10px;
	 	text-align: center;
	}
	h2{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 15px;
		font-family: $fontfamily;
		padding: 10px 0px;

	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
	}
}
.safety-paraimg
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 10px;
		margin-top: 5px;
		font-family: $fontfamily;
		padding: 10px;
		text-align: center;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
		padding: 10px;
	}
	img 
	{
		padding: 10px;
	}
}
}
@media (max-width: 480px) {

.edutravel-heading
{ 
	padding-left: 0px;
    padding-right: 0px;

h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    padding: 20px;
	width: 100%;
}
}
.edutravel-content
{
	padding: 20px;
	
	h2
	{
		color: $text-black;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
		font-weight: 600;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;
	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $medutravelh2-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 40px;
		font-family: $fontfamily;
		margin: auto;
	}

	.edu-blockcontent
	{
		width: 100%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
		border-top: 1px solid #ddd;
			img
			{
				margin-top: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.border-topcontent 
{
	border-top: 0px solid #ddd;
}
.border-leftcontent 
{
	border-left: 0px solid #ddd;
}
/*safety-security*/
.safety-security
{
	width:100%;
	margin-top: 40px;
	margin-bottom: 30px;
	h1 {
	 	color:$text-black;
	 	font-size:$mourstoryh-font-size;
	 	margin-bottom: 5px;
	 	font-family: $fontfamily;
	 	padding: 10px;
	 	text-align: center;
	}
	h2{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 15px;
		font-family: $fontfamily;
		padding: 10px 0px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
	}
}
.safety-paraimg
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 10px;
		margin-top: 5px;
		font-family: $fontfamily;
		padding: 10px;
		text-align: center;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
		padding: 10px;
	}
	img 
	{
		padding: 10px;
	}
}
}
@media screen and (min-width: 360px) and (max-width: 640px){

.edutravel-heading
{ 
	padding-left: 0px;
    padding-right: 0px;

h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    padding: 20px;
	width: 100%;
}
}
.edutravel-content
{
	padding: 20px;
	
	h2
	{
		color: $text-black;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
		font-weight: 600;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;

	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $medutravelh2-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 40px;
		font-family: $fontfamily;
		margin:auto;
	}

	.edu-blockcontent
	{
		width: 100%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
		border-top: 1px solid #ddd;
			img
			{
				margin-top: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.border-topcontent 
{
	border-top: 0px solid #ddd;
}
.border-leftcontent 
{
	border-left: 0px solid #ddd;
}
}

@media screen and (min-width: 640px) and (max-width: 767px){

.safe-seu-img
{
	height: 200px;
}
.edutravel-heading
{ 
	padding-left: 0px;
    padding-right: 0px;

h1 {
	
    color: $text-black;
    font-size: $dedutravelh-font-size;
    padding: 20px;
	width: 100%;
	font-family: Raleway;
	text-align: center;
}
}
.edutravel-content
{
	padding: 20px;
	
	h2
	{
		color: $text-black;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
		font-weight: 600;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;

	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $medutravelh2-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 40px;
		font-family: $fontfamily;
		margin: auto;
	}

	.edu-blockcontent
	{
		width: 100%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
		border-top: 1px solid #ddd;
			img
			{
				margin-top: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.border-topcontent 
{
	border-top: 0px solid #ddd;
}
.border-leftcontent 
{
	border-left: 0px solid #ddd;
}
/*safety-security*/
.safety-security
{
	width:100%;
	margin-top: 40px;
	margin-bottom: 30px;
	h1 {
	 	color:$text-black;
	 	font-size:$mourstoryh1-font-size;
	 	margin-bottom: 0px;
	 	font-family: $fontfamily;
	 	padding: 0px;
	 	text-align: center;
	 	font-weight: 600;
	}
	h2{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 15px;
		font-family: $fontfamily;
		text-align: center;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
	}
}
.safety-paraimg
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$mourstoryh2-font-size;
		margin-bottom: 10px;
		margin-top: 5px;
		font-family: $fontfamily;
		padding: 10px;
		text-align: center;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
		padding: 10px;
	}
	img 
	{
		padding: 10px;
	}
}
}
@media (min-width: 768px) and (max-width: 1024px) {
.edutravel-heading
{ 
	padding-left: 0px;
	padding-right: 50px;

	h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    width: 100%;
    font-family: Raleway;
}
}
.edutravel-content
{
	padding: 17px;
	h2
	{
		color: $text-black;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 6px;
		font-weight: 600;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;

	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;

	h2 
	{
		color: $text-grey;
		font-size: $dedutravelhtab-font-size;
		margin-bottom: 20px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 113px;
		font-family: $fontfamily;
		margin:auto;
	}

	.edu-blockcontent
	{
		width: 33.33%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
			img
			{
				margin-top: 14px;
				margin-bottom: 5px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelhtab-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 1px;
    		font-family: $fontfamily;
			}

			
	}
}
.safety-security
{
	width:100%;
	margin-top: 35px;
	margin-bottom: 70px;
	h1 {
	 	color:$text-black;
	 	font-size:$dourstoryh-font-size;
	 	margin-bottom: 5px;
	 	font-family: $fontfamily;
	 	padding: 10px;
	}
	h2{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 5px;
		font-family: $fontfamily;
		padding: 10px 0px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
		width: 100%;
	}

}
.safe-seu-img {

    width: 100%;
    padding-top: 184PX;
    padding-bottom: 25px;

}
.safety-paraimg
{
	width:49%;
	margin-top: 20px;
	margin-bottom: 30px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 10px;
		margin-top: 0px;
		font-family: $fontfamily;
		padding: 10px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
		padding: 10px;
	}
	img 
	{
		padding: 10px;
		margin-bottom: 41px;
		margin-top: 40px;
	}
}
}
@media (min-width: 1025px) and (max-width: 1280px) {
.edutravel-heading
{ 
	padding-left: 0px;
	padding-right: 77px;

	h1 {

    color: $text-black;
    font-size: $dedutravelh-font-size;
    padding: 20px;
    width: 100%;
}
}
.edutravel-content
{
	padding-bottom: 5px;
	padding-left: 18px;
	padding-right: 19px;
	h2
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 15px;
		padding-top: 32px;
	}
	p 
	{
		color: $text-grey;
		font-size: $dedutravelp-font-size;
		margin-bottom: 20px;

	}
}
.section-edu
{
	width: 100%;
	margin: 0 auto;
	height: 300px;
	padding-bottom: 20px;

	h2 
	{
		color: $text-grey;
		font-size: $dedutravelh-font-size;
		margin-bottom: 30px;
		padding: 32px;
		text-align: center;
		display: block;
		margin-left: 113px;
		font-family: $fontfamily;
		margin:auto;
	}

	.edu-blockcontent
	{
		width: 33.33%;
		height: 370px;
		margin: 0 auto;
		text-align: center;
		float: left;
			img
			{
				margin-top: 20px;
				margin-bottom: 15px;
				display: inline-block;
			}
			h3
			{
				color: $text-grey;
				font-size: $dedutravelp-font-size;
				margin-bottom: 5px;
				padding-top: 10px;
				text-align: center;
				width: 100%;
				display: block;
				font-family: $fontfamily;
			}
			p 
			{
			color: $text-grey;
			font-size: $dedutravelp-font-size;
			margin-bottom: 20px;
			text-align: center;
    		padding: 12px;
    		font-family: $fontfamily;
			}

			
	}
}
.safety-security
{
	width:100%;
	margin-top: 35px;
	margin-bottom: 70px;
	h1 {
	 	color:$text-black;
	 	font-size:$dourstoryh-font-size;
	 	margin-bottom: 15px;
	 	font-family: $fontfamily;
	 	padding: 10px 0px;
	}
	h2{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 5px;
		font-family: $fontfamily;
		padding: 10px 0px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		margin-bottom: 20px;
		font-family: $fontfamily;
		width: 100%;
	}

}
.safety-paraimg
{
	width:49%;
	margin-top: 20px;
	margin-bottom: 30px;
	float: left;
	h1{
		color: $text-grey;
		font-size:$dourstoryh2-font-size;
		margin-bottom: 10px;
		margin-top: 0px;
		font-family: $fontfamily;
		padding: 10px;
	}
	p{
		color: lighten($text-black, 50%);
		font-size:$dourstoryp-font-size;
		font-family: $fontfamily;
		padding: 10px;
	}
	img 
	{
		padding: 10px;
		margin-bottom: 10px;
		margin-top: 0px;
	}
}
}


/* end resources */