/* RESPONSIVE STYLE */
@media (max-width: 320px) {
.wapper-main
{
    width: 100%;
    margin: 0 auto;
}


.card-titles {
h1{
text-align: center;
font-size: $mch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 100%;
margin: 0 auto;
padding-bottom: 15px;
}

h4{
text-align: center;
font-size: $mcp-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}

/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: 15px;
margin-bottom: 0px;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.footr-img
{   
    margin: 0 auto;
    display: inline-block;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 100%;
    display: inline-block;

    }
}
.single-footer
{
padding: 0px 0px 0px 10px;
}
.footer-content {
width: 100%;
margin: 0 auto;
padding-left: 1px;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;

}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
}
.copy-left a{
color: $primarycolor;
}



}


@media (max-width: 360px) {
.wapper-main
{
    width: 100%;
    margin: 0 auto;
}
article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $mch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 100%;
margin: 0 auto;
padding-bottom: 5px;
}

h4{
text-align: center;
font-size: $mcp-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}
.card-imgs {
    width: 150px;
    margin: 0 auto;
  }

/* gallary*/
.gallary {
display: none;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 0px;
}
/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: 15px;
margin-bottom: 0px;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 100%;
    display: inline-block;
    float: left;
    }
}
.single-footer
{
padding: 0px 0px 69px 10px;
}
.footer-content {
width: 100%;
margin: 0 auto;
padding-left: 10px;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;
}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
}
.copy-left a{
color: $primarycolor;
}


}
@media (max-width: 480px) {
.wapper-main{
width: 100%;
margin: 0 auto;
}

article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $mch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 100%;
margin: 0 auto;
padding-bottom: 5px;
}

h4{
text-align: center;
font-size: $mcp-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}
.card-imgs {
    width: 150px;
    margin: 0 auto;
  }

/* gallary*/
.gallary {
display: none;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 0px;
}

}
@media (max-width: 640px) {
.wapper-main{
width: 100%;
margin: 0 auto;
}

article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $mch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 80%;
margin: 0 auto;
padding-bottom: 20px;
padding-top: 10px;
}

h4{
text-align: center;
font-size: $mch-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}
.card-imgs {
    width: 150px;
    margin: 0 auto;
  }


.vidchaVideo {
width: 90%;
margin: 0 auto;
display: block;
}
 
/* gallary*/
.gallary {
display: inline;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 40px;
}
.column {
display: block;
margin: 0 auto;
float: left;
padding: 4px;
width: 33.33%;
}
.gallary h2
{
text-align: center;
color: $text-black;
font-size: $dvpanelh-font-size;
font-family: $fontfamily;
margin-bottom: 20px;

}
.gallary  p
{
text-align: center;
color: lighten($text-black, 50%);
font-size: $dvpanelp-font-size;
font-family: $fontfamily;
margin-bottom: 39px;
}

/* gallary*/
.gallary {
display: none;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 0px;
}
/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: 15px;
margin-bottom: 2px !important;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.footr-img
{   
    margin: 0 auto;
    display: inline-block;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 100%;
    display: inline-block;

    }
}
.single-footer
{
padding: 0px 0px 0px 10px;
}
.footer-content {
width: 100%;
margin: 0 auto;
padding-left: 1px;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;
}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
}
.copy-left a{
color: $primarycolor;
}

}
@media (max-width: 767px) {

.wapper-main{
width: 100%;
margin: 0 auto;
}

article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $mch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 80%;
margin: 0 auto;
padding-bottom: 5px;
padding-top: 10px;
}

h4{
text-align: center;
font-size: $mch2-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}
.card-title
{
	text-align: center;
	font-weight: 600;
	font-size: $mch2-font-size;
}
.card-imgs {
    width: 85px;
    margin: 0 auto;
  }


.vidchaVideo {
width: 90%;
margin: 0 auto;
display: block;
}

/* gallary*/
.gallary {
display: inline;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 40px;
}
.column {
display: block;
margin: 0 auto;
float: left;
padding: 4px;
width: 33.33%;
}
.gallary h2
{
text-align: center;
color: $text-black;
font-size: $dvpanelh-font-size;
font-family: $fontfamily;
margin-bottom: 20px;

}
.gallary  p
{
text-align: center;
color: lighten($text-black, 50%);
font-size: $dvpanelp-font-size;
font-family: $fontfamily;
margin-bottom: 39px;
}

/* gallary*/
.gallary {
display: none;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 0px;
}
/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: 15px;
margin-bottom: 0px;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.footr-img
{   
    width: 200px;
    margin: 0 auto;
    display: inline-block;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top
{
  display: none;
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 100%;
    display: inline-block;

    }
}
.single-footer
{
padding: 0px 0px 0px 23px;
}
.footer-content {
width: 100%;
margin: 0 auto;
padding-left: 1px;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;
display: none;
}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
}
.copy-left a{
color: $primarycolor;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
  
.wapper-main{
width: 100%;
margin: 0 auto;
}

article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $dch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 80%;
margin: 0 auto;
padding-bottom: 20px;
padding-top: 10px;
}

h4{
text-align: center;
font-size: $dch-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}
.card-imgs {
    width: 100px;
    margin: 0 auto;
  }


.vidchaVideo {
width: 90%;
margin: 0 auto;
display: block;
}




/* gallary*/
.gallary {
display: inline;
float: left;
width: 100%;
margin-top: 8px;
margin-bottom: 40px;
}
.column {
display: block;
margin: 0 auto;
float: left;
padding: 4px;
width: 33.33%;
}
.gallary h2
{
text-align: center;
color: $text-black;
font-size: $dvpanelh-font-size;
font-family: $fontfamily;
margin-bottom: 20px;

}
.gallary  p
{
text-align: center;
color: lighten($text-black, 50%);
font-size: $dvpanelp-font-size;
font-family: $fontfamily;
margin-bottom: 39px;
}
/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: $footertab-font-size;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: $footertab-font-size;
margin-bottom: 0px;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 32%;
    display: inline-block;
    
    }
}
.footr-img
{   
    width: 170px;
    margin: 0 auto;
    display: inline-block;
}
.single-footer
{
padding: 0px 0px 0px 40px;
}
.footer-content {
width: 100%;
margin: 0 auto;
padding-left: 0px;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;
}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
}
.copy-left a{
color: $primarycolor;
}

}

@media (min-width: 1025px) and (max-width: 1280px) {
  
 .wapper-main{
width: 920px;
margin: 0 auto;
}

article {
width: 100%;
margin: 0 auto;
}
.card-titles {
h1{
text-align: center;
font-size: $dch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 80%;
margin: 0 auto;
padding-bottom: 10px;
padding-top: 35px;
}

h4{
text-align: center;
font-size: $dch4-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}
}

  

.vidchaVideo {
width: 995px;
margin: 0 auto;
display: block;
}





/* gallary*/
.gallary {
display: inline;
float: left;
width: 100%;
margin-top: 45px;
margin-bottom: 40px;
}
.column {
display: block;
margin: 0 auto;
float: left;
padding: 4px;
width: 33.33%;
}
.gallary h2
{
text-align: center;
color: $text-black;
font-size: $dvpanelh-font-size;
font-family: $fontfamily;
margin-bottom: 6px;

}
.gallary  p
{
text-align: center;
color: lighten($text-black, 50%);
font-size: $dvpanelp-font-size;
font-family: $fontfamily;
margin-bottom: 39px;
}
/*footer*/
#footer {
background-color: $primarycolor;
display: inline;
float: left;
width: 100%;
}

.footer-top {
display: inline;
float: left;
padding: 35px 0px 0px 0px;
width: 100%;
}
.single-footer h3
{
color: $oustorywhitebgcolor;
font-size: 15px;
text-transform: uppercase;
margin-bottom: 8px;
font-family: $fontfamily;
}
.single-footer p
{
color: $oustorywhitebgcolor;
font-size: 15px;
margin-bottom: 0px;
font-family: $fontfamily;
}
.single-footer .fa
{
color: $oustorywhitebgcolor;
margin-right: 13px;
}
.scrollToTop .fa {
margin-right: 0px;
}
.single-footer ul{
 li {
     list-style: none;
     margin-bottom: 10px;
     padding-bottom: 12px;
     font-size: 14px;
     margin-bottom: 29px;
    }
}
.single-footer ul 
{
    li: last-child {
        border-bottom: none;
    }
}
.single-footer ul li
{
 a {
    color: $oustorywhitebgcolor;
    }
}
.footer-top .single-footer ul 
{
    li {
    color: #999999;
    font-size: 14px;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    width: 32.33%;
    display: inline-block;
    
    }
}
.footr-img
{   
    width: 225px;
    margin: 0 auto;
    display: inline-block;
}
.single-footer
{
padding: 0px 0px 0px 85px;
}
.footer-content {
width: 100%;
margin: 0 auto;
}
.footer-bottom {
background-color: $secondcolor;
display: inline;
padding: 10px 0;
float: left;
width: 100%;
}
.footer-bottom-area {
display: inline;
float: left;
//text-align: center;
width: 50%;
}
.footer-bottom-term
{
display: inline;
float: right;
width: 50%;
text-align: right;
}
.copy-left {
color: $oustorywhitebgcolor;
margin-bottom: 0;
font-size: 14px;
padding-right: 45px;
}
.copy-left a{
color: $primarycolor;
}

}

