
.content-video{
  margin-bottom: 45px;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.title {
display: inline;
float: left;
text-align: center;
width: 100%;
margin-bottom: 35px;
padding: 0 25%;
}
.title h2 {
color: $text-black;
font-size: $dch-font-size;
text-transform: uppercase;
margin-bottom: 15px;
font-family: $fontfamily;
}
.title p {
color: $text-black;
font-size: $dcp-font-size;
font-family: $fontfamily;
}
main
{
	width: 100%;
}
.wapper-main
{
	width: 1140px;
}
.view-btn
{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* card */
.card-titles {

	padding-top: 15px;
  padding-bottom: 7px;

h1{
text-align: center;
font-size: $dch-font-size;
color: $text-black;
font-family: $fontfamily;
width: 80%;
margin: 0 auto;
padding-top: 10px;
}
h4{
text-align: center;
font-size: $dch4-font-size;
color: lighten($text-black, 50%);
margin-bottom: 25px;
font-family: $fontfamily;
}

}

.vidchaVideo {
width: 995px;
margin: 0 auto;
display: block;
}

/*--------------------*/
/* GALLERY */
/*--------------------*/
.gallary {
display: inline;
float: left;
width: 100%;
margin-top: 45px;
margin-bottom: 40px;
}
.column {
display: block;
margin: 0 auto;
float: left;
padding: 4px;
width: 33.33%;
}
.gallary h2
{
text-align: center;
color: $text-black;
font-size: $dvpanelh-font-size;
font-family: $fontfamily;
margin-bottom: 7px;

}
.gallary  p
{
text-align: center;
color: lighten($text-black, 50%);
font-size: $dvpanelp-font-size;
font-family: $fontfamily;
margin-bottom: 39px;
}
article {
width: 100%;
margin: 0 auto;
}
.clear {
clear: both;
margin-bottom: 10px;
}
/*--------------------*/
/* TESTIMONIALS */
/*--------------------*/

/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.item
{
h1 {
  text-align:center;
  margin-bottom:-20px !important;
 font-family: $fontfamily;
}
p {
  font-style:italic;
 font-family: $fontfamily;
}
}

.testimonials {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  display: inline;
  float: left;
  position: relative;
  width: 100%;
  margin-top: 40px;

}
.testimonials::before {
  background: $testimonialscolor;
  bottom: 0;
  content: '';
  left: 0;
  top: 0;
  right: 0;
  position: absolute;
  opacity: 0.8;
  z-index: 10;
}
.testimonials-area {
  display: block;
  float: left;
  padding: 12px 84px 0px 64px;
  width: 100%;
  position: relative;
  z-index: 20;
  margin: 0 auto;
}
// .testimonials-area h1 {
//   color: $text-black;
//   text-align: center;
//   text-transform: capitalize;
//   font-size: $dcustomerfh-font-size;
//   padding-bottom: 20px;
//   font-family: $fontfamily;
//   font-weight: 600;
// }
.testimonials-block {
  display: inline;
  float: left;
  margin-top: 45px;
  width: 100%;
}
.testimonial-slide li{
  list-style: none;
  text-align: center;
}
.client-quote {
  font-size: 35px;
  opacity: 0.7;
  margin-bottom: 25px;
}
.testimonial-slide li p {
  color: $text-black;
  padding: 0 1%;
  font-size: $dcustomerfp-font-size;
  font-family: $fontfamily;
  line-height: 29px;
}
.testimonial-slide .rt-img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  display: inline-block;
  border: 4px solid #f8f8f8;
  margin-bottom: 25px;
}
.rt-name {
  margin-bottom: 5px;
  color: $text-black;
  line-height: 1;
  margin-top: 25px;
  letter-spacing: 1px;
  font-family: $fontfamily;
}
.rt-title {
  color: $text-black;
  font-size: 14px;
  font-family: $fontfamily;
}
.testimonial-slide .slick-dots {
bottom: -50px;
}
.testimonial-slide .slick-dots li {
background-color: #f8f8f8;
height: 4px;
-webkit-transition: all 0.5s;
transition: all 0.5s;
}
.testimonial-slide .slick-dots li button {
display: none;
}
.testimonial-slide .slick-next {
right: -60px;
margin-top: -2px;
}
.testimonial-slide .slick-prev {
left: -60px;
margin-top: -2px;
}






/* card layout*/

.card {
  background: #fff;
  position: relative;
 
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1{
  a{
    text-decoration: none;
    color: black;
    margin-right: -1px;
    &:hover{
      text-decoration:none;
      color: black;
    }
  }
  &:hover{
    h5{
      text-decoration: underline;
    }
  }
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-text
{
  font-family: $fontfamily;
  font-size: 16px;
}
.card-title
{
  font-family: $fontfamily;
  text-align: center;
  font-weight: 600;
}

.overlay {
background-color: $primarycolor;
width: 100%;
height: 100%;
position: absolute;
top: 0;
mix-blend-mode: color;
}
.back-to-home {
color: $primarycolor;
display: inline-block;
margin-top: 60px;
font-size: 14px;
}
.under-img
{
	margin: 0 auto;
    text-align: center;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}
.explore-destination
{
	margin-top: 150px;
}
.top-img
 {
	width:100%;
	padding-top: 0PX;
}


/* Embedded content with flexible width and proportional height video css. */

.rwd-media {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 */
}

.rwd-media iframe,
.rwd-media video {
  position: absolute;
  width: 100%;
  height: 100%;  
}

@media screen and (max-width: 767px){
  #footer{ display: none !important;}
}

.content { width: 100%; padding: 2px; background: #fff; }
