
.bg-cover {
    background-attachment: static;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.tour_list_card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: linear-gradient(to bottom, rgba(0,0,0,0.6) 0%,rgba(0,0,0,0.6) 100%);
    .container{ 
        background: #0b090940;
    }
    border-radius: 14px;
    overflow: hidden;
    background-size: cover;
}


@media screen and (max-width: 438px){
	.tour_list_card{
		.col{
            font-size: 11px;
        }	
	}
}