#itinerary_detail_list{
	.list_text{
		padding: 20px 25px;
		width: 70%;
	    float: left;
	}
	.list_img{
		padding: 0px  3px 2px;
		width: 30%;
	    float: right;
		img{
			border-radius:4px;
			width: 94%;
			margin-top: 3px;
		}
	}
	#roadmap{

	}
	.hotel-section{
		.hotel-card{
			p{
				margin:3px 0px !important;
				font-size: 13px;
			}
			span{
				float: right;
			}
			padding: 10px;
    		border: 1px solid lightgrey;
    		.hotel_info{
			    margin-top: 9px;
		    }

			  .star-rating {
			    color: gold;
			    display: inline-block;
			    font-size: 12px;
			    position: relative;
			    transform: translate(-6px);
			  }

			.star-rating__max,
			.star-rating__current {
			  position: absolute;
			  top: 0;
			}

			.star-rating__current {
			  overflow: hidden;
			  white-space: nowrap;
			}
		}
	}
	.things-to-carrry{
		text-align: center;
		.col-sm-4{
			border:1px solid lightgrey;
		}
		.item{

			padding: 30px;
			p{ margin-top: 10px; }
			.bottel{
				width: 35px;
			}
			.common{
				width: 70px;
			}
		}
	}
}

@media screen and (min-width: 340px) and (max-width: 800px){
	#itinerary_detail_list{
		padding: 5px;
		.list{
			p{font-size: 13px;}
			h2{ font-size: 16px; }
			span{ font-size: 10px; }
		    .list_text{
		    	padding: 10px 20px;
		    	width: 60%;
		    }
			.list_img{
				width: 40%;
				padding: 0px;
				img{
					padding-right: 5px;
					margin-top: 0px;
				}
			}
		}
    }
}

@media screen and (min-width: 800px) and (max-width:1024px){
	#itinerary_detail_list{
		.list{
			.list_text{
				width: 60%;
			    float: left;
			}

			.list_img{
				width: 40%;
			    float: right;
				img{
					border-radius:4px;
					width: 94%;
				}
			}
		}	
	}
}