/*
Variables To Be Used In The Edu Travel Project
Variables Abbreviations: : ;
b=banner
bh=banner header |bp=banner para |ch=content header|cp=content para|cardh=card header|cardp=card para|buttont=button text|buttonbg=button background
|customerf=customer feedback||fh=footer header|fp=footer para|m=mobile|d=desktop|vpannel=video panel
*/
$mbh-font-size: 20px;
$mbp-font-size: 14px;
$mch-font-size: 24px;
$mch2-font-size: 18px;
$mcp-font-size: 15px;
$mcardh-font-size: 18px;
$mcardp-font-size: 14px;
$mbuttont-font-size: 11px;
$mcustomerfh-font-size: 17px;
$mcustomerfp-font-size: 15px;
$mvpanelh-font-size: 21px;
$mvpanelp-font-size: 22px;
$mourstoryh-font-size: 28px;
$mourstoryh1-font-size: 25px;
$mourstoryh2-font-size: 20px;
$dbh-font-size: 35px;
$dbp-font-size: 20px;
$dch-font-size: 35px;
$dcp-font-size: 17px;
$dcardh-font-size: 17px;
$dcardp-font-size: 17px;
$dcustomerfh-font-size: 34px;
$dcustomerfp-font-size: 20px;
$dbuttont-font-size: 13px;
$dvpanelh-font-size: 30px;
$dvpanelp-font-size: 35px;
$dourstoryh-font-size: 25px;
$dourstoryh2-font-size: 20px;
$dourstoryp-font-size: 17px;
$dedutravelh-font-size: 25px;
$dedutravelhtab-font-size: 18px;
$dedutravelp-font-size: 17px;
$dedutravelhtab-font-size: 15px;
$medutravelh2-font-size: 17px;
$defaqh-font-size: 30px;
$defaq3-font-size: 20px;
$defaqli-font-size: 19px;
$mfaqli-font-size: 15px;
$dch4-font-size: 25px;
$dexpo-font-size: 25px;
$dexporh-font-size: 13px;
$buttont-font-color: #ffffff;
$buttonbg-color: #999999;
$text-white: #ffffff;
$text-grey: #333333;
$text-greycolor: #666666;
$text-black: #000000;
$oustorybgcolor: #ebebeb;
$oustorywhitebgcolor: #ffffff;
$fontfamily: Raleway;
$primarycolor: #1c1650;
$secondcolor: #9b9b9b;
$menubackgroundcolor: #c4cace;
$testimonialscolor: #ffffff1a;
$backbroundcolor: #ffffff;
$card-back-color: #f0f0f0;
$fa-icon-color: #666666;
$explor-text-bgcolor: #a1a1a1;
$footertab-font-size: 13px;

// Body
$body-bg: #ffffff;

// Typography
$font-family-raleway: "Raleway";
$font-size-base: 0.9rem;
$line-height-base: 1.4;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #3490dc;
$bodycolor: #fbfbfb;

$background-color: #2c3e50;
$highlight-color: #3498db;
$text-color: #ecf0f1;
